---
import Gallery from '~/components/Gallery.vue'
import Project from '~/components/projects/Project.astro'
import type { GalleryImage } from '~/types'

const images: GalleryImage[] = [
  {
    src: '/img/projects/baufon/three-colors.webp',
    thumbnail: '/img/projects/baufon/three-colors_thumbnail.webp',
  },
  {
    src: '/img/projects/baufon/motion.webp',
  },

  {
    src: '/img/projects/baufon/downview.webp',
  },
  {
    src: '/img/projects/baufon/fan-animation.webp',
    thumbnail: '/img/projects/baufon/fan-animation_thumbnail.webp',
  },
]
---

<Project>
  <div class="prose text-center">
    <h2 class="text-4xl font-medium">Baufon</h2>
    <h3 class="text-lighter -mt-6 text-xl">January 2023</h3>
  </div>
  <div class="flex flex-col items-center justify-center gap-8 lg:flex-row">
    <video
      controls
      controlslist="nodownload"
      playsinline
      class="block w-full shrink-0 md:max-w-lg"
      poster="/img/projects/baufon/thumbnail.webp"
    >
      <source src="/img/projects/baufon/Baufon.webm" />
      <source src="/img/projects/baufon/Baufon.mp4" />
    </video>
    <div class="prose">
      <span class="text-justify">
        Baufon, the result of my bachelor thesis, is a 3D advertising video that
        focuses on motion graphics in the Bauhaus style. The goal of this
        project was to create my own interpretation of the design language and
        to let the Bauhaus style recur throughout the whole video.
      </span>
      <div class="mt-4 flex flex-col gap-1 text-xs children:block">
        <span>3D Footage by me.</span>
        <span>
          Audio Track can be found on
          <a href="fesliyanstudios.com" target="_blank" rel="norefferer">
            fesliyanstudios.com</a
          >.
        </span>
      </div>
    </div>
  </div>
  <Gallery images={images} image-width={200} client:visible />
</Project>
