---
import Gallery from '~/components/Gallery.vue'
import Project from '~/components/projects/Project.astro'
import type { GalleryImage } from '~/types'

const images: GalleryImage[] = [
  {
    src: '/img/projects/keenscreen/waves.webp',
    thumbnail: '/img/projects/keenscreen/waves_thumbnail.webp',
  },
  {
    src: '/img/projects/keenscreen/animation.webp',
    thumbnail: '/img/projects/keenscreen/animation_thumbnail.webp',
  },
  {
    src: '/img/projects/keenscreen/hue.webp',
    thumbnail: '/img/projects/keenscreen/hue_thumbnail.webp',
  },
]
---

<Project>
  <div class="prose text-center">
    <h2 class="text-4xl font-medium">Keenscreen</h2>
    <h3 class="text-lighter -mt-6 text-xl">July 2022</h3>
  </div>
  <div class="flex flex-col items-center justify-center gap-8 lg:flex-row">
    <video
      controls
      controlslist="nodownload"
      playsinline
      class="block w-full shrink-0 md:max-w-[32rem]"
      poster={images[0].src}
    >
      <source src="/img/projects/keenscreen/keenscreen.webm" />
      <source src="/img/projects/keenscreen/keenscreen.mp4" />
    </video>
    <div class="prose">
      <span class="text-justify">
        Keenscreen is another 3D animation project and promotes a new TV model
        designed by me. For this project I focused mainly on the use of motion
        graphics.
      </span>
      <div class="mt-4 flex flex-col gap-1 text-justify text-xs children:block">
        <span>3D Footage by me.</span>
        <span>Real Footage Videos by Pexels.</span>
        <span>
          Audio Track can be found on
          <a
            href="https://inaudio.org/track/digital-technology-background/"
            target="_blank"
            rel="norefferer"
          >
            inaudio.org</a
          >.
        </span>
      </div>
    </div>
  </div>
  <Gallery images={images} image-width={200} client:visible />
</Project>
