---
import Project from '~/components/projects/Project.astro'
---

<Project>
  <div class="prose text-center">
    <h1 class="font-serif">Tracking Comp</h1>
    <h2 class="text-lighter -mt-6 font-serif text-lg">January 2021</h2>
  </div>
  <div class="flex flex-col items-center justify-center gap-8 lg:flex-row">
    <video
      controls
      controlslist="nodownload"
      playsinline
      class="block w-full shrink-0 md:max-w-[32rem]"
      poster="/img/projects/tracking_comp/beautyshot.webp"
    >
      <source
        src="/img/projects/tracking_comp/Bycicle_Comp_Splitscreen_1.webm"
      />
      <source src="/img/projects/tracking_comp/splitscreen.mp4" />
    </video>
    <div class="prose">
      <span class="text-justify">
        This is the result of my first tracking project. The goal was to embed a
        3D object into real footage. I chose an old gate in the woods with an
        already rusted bike leaning against it. All content in this video was
        created by me.
      </span>
    </div>
  </div>
</Project>
