@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@utility btn-base {
  @apply px-2 py-1 rounded-sm inline-flex justify-center gap-2 leading-[30px] no-underline! cursor-pointer text-black hover:opacity-80;
}

@utility icon-btn {
  @apply btn-base text-white/100! opacity-100 w-9;
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --font-sans:
    Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
}

#nprogress {
  pointer-events: none;
}

button {
  background: none;
  border: none;
  font-size: 1.25rem;
}

mark {
  background: none;
  color: inherit;
  font-style: italic;
  font-weight: bold;
}

:root {
  --primary: rgba(0, 50, 255, 0.8);
  --background: #eee;
  --c-link: var(--primary);
  --c-shadow: #42424266;
  --anim-slow: 500ms;
  --anim-medium: 200ms;
}

a,
.prose a {
  color: var(--c-link);
  text-decoration: none;
  transition: opacity var(--anim-medium) ease;
}

a:hover {
  opacity: 50%;
}

img.square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
