@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
}

#nprogress {
  pointer-events: none;
}

button {
  background: none;
  border: none;
  font-size: 1.25rem;
}

mark {
  background: none;
  color: inherit;
  font-style: italic;
  font-weight: bold;
}

:root {
  --primary: #54b3dd;
  --background: #eee;
  --c-link: var(--primary);
  --c-shadow: #42424266;
  --anim-slow: 500ms;
  --anim-medium: 200ms;
}

a {
  color: var(--c-link);
  text-decoration: none;
  transition: opacity var(--anim-medium) ease;
}

a:hover {
  opacity: 50%;
}

img.square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
