@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
}

#nprogress {
  pointer-events: none;
}

button {
  background: none;
  border: none;
  font-size: 1.25rem;
}

mark {
  background: none;
  color: inherit;
  font-style: italic;
  font-weight: bold;
}

:root {
  --primary: rgba(0, 50, 255, 0.8);
  --background: #eee;
  --c-link: var(--primary);
  --c-shadow: #42424266;
  --anim-slow: 500ms;
  --anim-medium: 200ms;
}

a {
  color: var(--c-link);
  text-decoration: none;
  transition: opacity var(--anim-medium) ease;
}

a:hover {
  opacity: 50%;
}

img.square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .slide-in {
    opacity: 0;
    transform: translateY(5rem);
    transition: opacity var(--anim-slow) ease-out,
      transform var(--anim-slow) ease-out;
  }

  .slide-in-visible {
    opacity: initial;
    transform: unset;
  }
}
