---
import Showcase from '~/components/Showcase.astro'
import { useGraphicDesignShowcases } from '~/composables'
import MainLayout from '~/layouts/MainLayout.astro'

const {
  logoDesignShowcase,
  vectorGraphicsShowcase,
  storyboardShowcase,
  exhibitionCatalogShowcase,
  illustratedCardsShowcase,
} = useGraphicDesignShowcases()

const posterVideos = [
  '/img/graphic-design/posters/burger',
  '/img/graphic-design/posters/wine',
]
---

<MainLayout>
  <Showcase {...logoDesignShowcase} />
  <Showcase {...vectorGraphicsShowcase} />
  <Showcase title="Posters">
    <script>
      const videos = [
        ...document.querySelectorAll<HTMLVideoElement>('.video-gallery video'),
      ]
      videos.forEach((video) =>
        video.addEventListener('mouseover', () => video.play())
      )

      videos.forEach((video) =>
        video.addEventListener('mouseleave', () => video.pause())
      )
    </script>
    <div
      class="video-gallery flex w-full flex-row flex-wrap justify-center gap-4"
    >
      {
        posterVideos.map((video) => (
          <video
            controls
            controlslist="nodownload nofullscreen"
            playsinline
            loop
            class="block max-h-[24rem] md:max-h-[32rem]"
            poster={`${video}.png`}
          >
            <source src={`${video}.webm`} />
            <source src={`${video}.mp4`} />
          </video>
        ))
      }
      <img
        class="block max-h-[24rem] md:max-h-[32rem]"
        src="/img/graphic-design/posters/dreamteam.png"
      />
    </div>
  </Showcase>
  <Showcase {...storyboardShowcase} />
  <Showcase {...exhibitionCatalogShowcase} />
  <Showcase {...illustratedCardsShowcase} />
</MainLayout>
