---
import Baufon from '~/components/projects/Baufon.astro'
import Creartive from '~/components/projects/Creartive.astro'
import Keenscreen from '~/components/projects/Keenscreen.astro'
import TrackingComp from '~/components/projects/TrackingComp.astro'
import MainLayout from '~/layouts/MainLayout.astro'
---

<MainLayout>
  <div class="fancy flex flex-col items-center gap-24">
    <Baufon />
    <Keenscreen />
    <Creartive />
    <TrackingComp />
  </div>
</MainLayout>
