---
import Project from '~/components/Project.astro'
import ProjectBody from '~/components/ProjectBody.astro'
import type { GalleryImage } from '~/types'

const video = {
  thumbnail: '/img/projects/baufon/thumbnail.webp',
  webm: '/img/projects/baufon/Baufon.webm',
  mp4: '/img/projects/baufon/Baufon.mp4',
}

const images: GalleryImage[] = [
  {
    src: '/img/projects/baufon/concept.png',
  },
  {
    src: '/img/projects/baufon/storyboard.png',
  },
  {
    src: '/img/projects/baufon/three-colors.webp',
    thumbnail: '/img/projects/baufon/three-colors_thumbnail.webp',
  },
  {
    src: '/img/projects/baufon/motion.webp',
  },
  {
    src: '/img/projects/baufon/downview.webp',
  },
  {
    src: '/img/projects/baufon/fan-animation.webp',
    thumbnail: '/img/projects/baufon/fan-animation_thumbnail.webp',
  },
]
---

<Project title="Baufon" subtitle="January 2023">
  <ProjectBody video={video} images={images}>
    <span class="text-justify">
      Baufon, the result of my bachelor thesis, is a 3D advertising video that
      focuses on motion graphics in the Bauhaus style. The goal of this
      project was to create my own interpretation of the design language and
      to let the Bauhaus style recur throughout the whole video.
    </span>
    <div class="mt-4 flex flex-col gap-1 text-xs children:block">
      <span>3D Footage by me.</span>
      <span>
        The song can be found on
        <a href="fesliyanstudios.com" target="_blank" rel="norefferer">
          fesliyanstudios.com</a
        >.
      </span>
    </div>
  </ProjectBody>
</Project>
