---
import Project from '@components/Project.astro'
import ProjectBody from '@components/ProjectBody.astro'

type ClientProject = {
  name: string
  link: string
}

type Group = {
  name: string
  projects: ClientProject[]
}

const groups: Group[] = [
  {
    name: 'Annual/Sustainability Reports',
    projects: [
      {
        name: 'HUGO BOSS AR 2024',
        link: 'https://annualreport-2024.hugoboss.com',
      },
      {
        name: 'Metro AR 2024',
        link: 'https://reports.metroag.de/annual-report/2023-2024/ ',
      },
      {
        name: 'VIG AR 2024',
        link: 'https://www.geschaeftsbericht.vig/2024/',
      },
      {
        name: 'VIG AR 2023',
        link: 'https://www.geschaeftsbericht.vig/2023/',
      },
      {
        name: 'ProSieben AR 2023',
        link: 'https://geschaeftsbericht.prosiebensat1.com/2023/',
      },
      {
        name: 'Deutsche Telekom AR 2023',
        link: 'https://report.telekom.com/annual-report-2023/',
      },
      {
        name: 'Metro SR 2023',
        link: 'https://reports.metroag.de/cr-kpi-report/2022-2023/',
      },
    ],
  },
  {
    name: 'Explainer Videos',
    projects: [
      {
        name: 'Fresenius Water in Production',
        link: 'https://report.fresenius.com/2024/sustainability-magazine/#water',
      },
      {
        name: 'Training at Fresenius',
        link: 'https://karriere.fresenius.de/ihr-einstieg/schuelerinnen/ausbildung-und-duales-studium',
      },
      {
        name: 'Merck Solvent Recycling',
        link: 'https://www.merckgroup.com/en/sustainability-report/2023/stories.html#solvent-recycling',
      },
      {
        name: 'Merck Fight Against Malaria',
        link: 'https://www.merckgroup.com/en/sustainability-report/2023/stories.html#fight-against-malaria',
      },
      {
        name: 'UBM Equity Story',
        link: 'https://youtu.be/mB3CikI7qvI?si=slPoc4UGX95_8BIn',
      },
    ],
  },
  {
    name: 'Social Media Assets',
    projects: [
      {
        name: 'VIG Share Performance',
        link: 'https://www.linkedin.com/posts/vig-investor-relations_2025-delivered-a-lot-of-milestones-for-the-activity-7422618472104214529-5qhp'
      },
      {
        name: 'Wienerberger on the Road',
        link: 'https://www.linkedin.com/posts/wienerberger-investor-relations_wienerberger-ir-on-the-road-frankfurt-activity-7417178435216629760-w6HE'
      },
      {
        name: 'Adidas KPI Animation',
        link: 'https://www.linkedin.com/posts/adidas_results-activity-7356306323405217794-1vJh?utm_source=share&utm_medium=member_desktop&rcm=ACoAADWPAhcBMnN2a_XPciOw2QSZDVWZ6Ph4H8w',
      },
      {
        name: 'PORR KPI Animation',
        link: 'https://www.linkedin.com/posts/porr-group_porr-results-q1-3-2024-ugcPost-7265241439259795456-Hv8V',
      },
      {
        name: 'VIG AR 24 Announcement',
        link: 'https://www.linkedin.com/posts/vig-investor-relations_our-group-annual-report-2024-is-out-now-activity-7322515351110320128-cGt8?utm_source=share&utm_medium=member_desktop&rcm=ACoAADWPAhcBMnN2a_XPciOw2QSZDVWZ6Ph4H8w',
      },
      {
        name: 'VIG Stability Resilience Growth',
        link: 'https://www.linkedin.com/posts/vig-investor-relations_vigceo-vigshare-ugcPost-7351590817578352642-UFGN',
      },
      {
        name: 'Paradots IR Channels',
        link: 'https://www.linkedin.com/feed/update/urn:li:activity:7343970856722722818',
      },
      {
        name: 'nexxar Mark and Share Tool',
        link: 'https://www.linkedin.com/posts/nexxar_onlinereporting-highlight-feature-activity-7346502556031815681-b6jn?utm_source=share&utm_medium=member_desktop&rcm=ACoAADWPAhcBMnN2a_XPciOw2QSZDVWZ6Ph4H8w',
      },
      {
        name: 'nexxar Onsite Event',
        link: 'https://www.linkedin.com/posts/nexxar_strategyinmotion-dominoday-teamgoals-activity-7346833200821821440-Fv6e?utm_source=share&utm_medium=member_desktop&rcm=ACoAADWPAhcBMnN2a_XPciOw2QSZDVWZ6Ph4H8w',
      },
      {
        name: 'nexxar Table Layout',
        link: 'https://www.linkedin.com/posts/nexxar_datavisualization-uxdesign-datapresentation-activity-7312456054414487552-2NBf?utm_source=share&utm_medium=member_desktop&rcm=ACoAADWPAhcBMnN2a_XPciOw2QSZDVWZ6Ph4H8w',
      },
    ],
  },
]
---

<Project title="Client Projects" subtitle="2023 - 2025">
  <ProjectBody>
    <div class="flex flex-col gap-16">
      <div class="text-justify">
        During my time at nexxar and Paradots, I had the opportunity to work on the animation on several projects, including annual/sustainability reports, explainer videos, and social media assets.
        These reports have been officially published and are publicly accessible.
        Each project was developed in close collaboration with the team and the client to create a high-quality and visually compelling report.
        Below are links to a selection of projects for which I did the animation.
      </div>
      <div class="flex flex-wrap justify-evenly gap-4">
        {groups.map((group) =>
          <div class="flex flex-col gap-4">
            <div class="font-bold">{ group.name }</div>
            {group.projects.map((project) => <div>
              <a href={project.link} target="_blank" rel="norefferer">{project.name}</a>
            </div>)}
          </div>,
        )}
      </div>
    </div>
  </ProjectBody>
</Project>
