---
import Project from '~/components/Project.astro'
import ProjectBody from '~/components/ProjectBody.astro'
import type { GalleryImage } from '~/types'

const images: GalleryImage[] = [
  {
    src: '/img/projects/memorial_cards/card_1_small.png',
  },
  {
    src: '/img/projects/memorial_cards/card_2_small.png',
  },
  {
    src: '/img/projects/memorial_cards/mockup_small.png',
  },
]
---

<Project title="Memorial Cards" subtitle="2023 - 2025">
  <ProjectBody images={images}>
    <span class="text-justify">
      My grandparents meant the world to me.
      When they passed away, I wanted to illustrate and design their memorial cards myself.
      It was a very important and personal matter to me.
      The birds serve as a symbol for the two of them.
      I have anonymized their names and portraits in the showcase below.
    </span>
    <div class="mt-4 flex flex-col gap-1 text-xs children:block">
      <span>
        The mockups can be found on freepik.
      </span>
    </div>
  </ProjectBody>
</Project>
