html {
  overflow-y: auto !important;
}

.page-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .page-container {
    width: 64rem;
  }
}

.article-container {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', serif !important;
}

h1 {
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1.2;
}

article {
  .nuxt-content {
    .nuxt-content-highlight {
      position: relative;

      & + p {
        margin-top: 1rem;
      }

      code {
        all: unset !important;
      }

      pre {
        border-radius: 0.25rem;
      }

      .filename {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        margin-right: 0.5rem;
        margin-top: 0.25rem;
        font-weight: 300;
        font-size: 0.875rem;
        color: #c3cee3;
      }
    }

    video,
    .v-image {
      margin-bottom: 1rem;
    }
  }
}

.masonry-wall {
  width: 100%;
}
