---
import { useAccounts } from '~/composables'

const accounts = useAccounts()

const currentYear = new Date().getFullYear()
---

<footer class="footer mt-24 flex justify-center gap-8 p-4 text-xs">
  <div>
    <span>Legal</span>
    <a href="/impressum" title="Impressum" active-class="!text-$primary op90">
      Impressum
    </a>
    <a href="/legal" title="Legal" active-class="!text-$primary op90"> Legal</a>
    <span class="text-neutral-600">
      2021 - {currentYear} &copy;<br />
      Magdalena Jirku
    </span>
  </div>
  <div>
    <span>Social</span>
    {
      accounts.map((account) => (
        <a href={account.link} rel="noopener" target="_blank">
          {account.name}
        </a>
      ))
    }
  </div>
  <div>
    <span>Credits</span>
    <a
      href="https://github.com/DerYeger/magdalena-jirku"
      rel="noopener"
      target="_blank"
    >
      Website by Jan Müller
    </a>
  </div>
</footer>

<style>
  .footer > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer > div > span:first-child {
    font-weight: bold;
  }
</style>
