---
import NavLink from '~/components/NavLink.astro'
---

<nav
  class="navigation flex flex-row flex-wrap justify-center gap-8 px-8 text-xs sm:text-sm md:justify-end"
>
  <NavLink href="/">Home</NavLink>
  <NavLink href="/motion-design">Motion Design</NavLink>
  <NavLink href="/graphic-design">Graphic Design</NavLink>
  <NavLink href="/drawings">Drawings</NavLink>
</nav>
