---
import NavLink from '@components/NavLink.astro'
---

<nav
  aria-label="Main Navigation"
  class="navigation flex flex-row flex-wrap justify-center gap-8 px-8 text-xs sm:text-sm md:justify-end"
>
  <NavLink href="/">Home</NavLink>
  <NavLink href="/design/">Design</NavLink>
  <NavLink href="/photography/">Photography</NavLink>
  <NavLink href="/drawings/">Drawings</NavLink>
</nav>
