---
import MainLayout from '@layouts/MainLayout.astro'

interface Props {
  title: string
  subtitle?: string
}

const props = Astro.props
---

<MainLayout title={props.title}>
  <section class="slide-in flex flex-col items-center justify-center">
    <div class="flex max-w-260 flex-col gap-16">
      <hgroup class="max-w-none text-center">
        <h1 class="text-4xl font-medium">{ props.title }</h1>
        {props.subtitle ? <h2 class="text-neutral-600 font-semibold mt-3 text-xl"> {props.subtitle }</h2> : null}
      </hgroup>
      <slot />
    </div>
  </section>
</MainLayout>
