---
import Gallery from '~/components/Gallery.vue'
import type { GalleryImage } from '~/types'

interface Props {
  title: string
  images: GalleryImage[]
}

const { title, images } = Astro.props
---

<section class="showcase slide-in mx-auto max-w-[85rem]">
  <div class="prose my-12 mx-auto w-full text-center">
    <span class="text-4xl font-medium">{title}</span>
  </div>
  <slot />
  <Gallery images={images} client:visible />
</section>

<style>
  .showcase + .showcase {
    margin-top: 6rem;
  }
</style>
