---
import Gallery from '~/components/Gallery.vue'
import type { GalleryImage } from '~/types'

interface Props {
  title: string
  images?: GalleryImage[]
}

const { title, images } = Astro.props
---

<section class="showcase slide-in mx-auto max-w-[85rem]">
  <div class="prose mx-auto my-12 w-full text-center">
    <span class="text-4xl font-medium text-black">{title}</span>
  </div>
  <slot />
  {images ? <Gallery images={images} client:visible /> : null}
</section>

<style>
  .showcase + .showcase {
    margin-top: 6rem;
  }
</style>
