---
import { Icon } from 'astro-icon/components'

import { getHighlightColor } from '~/composables'

const path = Astro.url.pathname

const bannerColor = getHighlightColor(path, 0.3)

const bannerImage = (() => {
  if (path === `/`) {
    return 'url(/img/banner/home.webp)'
  } else if (path.startsWith(`/design`)) {
    return 'url(/img/projects/creartive/overview.webp)'
  } else if (path.startsWith(`/photography`)) {
    return 'url(/img/photography/banner.jpeg)'
  } else if (path.startsWith(`/drawings`)) {
    return 'url(/img/banner/drawings.webp)'
  }
  return 'url(/banner.webp)'
})()
---

<aside class="sidebar hidden flex-col items-center justify-between md:flex">
  <img
    src="/logo.svg"
    alt="Logo"
    class="pointer-events-none w-32 select-none pt-4"
  />
  <div class="flex flex-col gap-2 text-center text-white">
    <span>Magdalena Jirku</span>
    <span class="font-serif text-xl font-extralight uppercase">
      Motion Graphic Designer
    </span>
  </div>
  <div class="space-around flex gap-1 pb-2">
    <a
      class="icon-btn"
      href="https://www.artstation.com/keshyx"
      rel="noopener"
      target="_blank"
      title="ArtStation"
    >
      <Icon name="simple-icons:artstation" class="size-[1.2em]" />
    </a>
    <a
      class="icon-btn"
      href="https://www.linkedin.com/in/magdalena-jirku-81bb16210/?original_referer=https%3A%2F%2Fmagdalena-jirku.at%2F"
      rel="noopener"
      target="_blank"
      title="LinkedIn"
    >
      <Icon name="simple-icons:linkedin" class="size-[1.2em]" />
    </a>
    <a
      class="icon-btn"
      href="https://www.xing.com/profile/Magdalena_Jirku"
      rel="noopener"
      target="_blank"
      title="XING"
    >
      <Icon name="simple-icons:xing" class="size-[1.2em]" />
    </a>
  </div>
</aside>

<style define:vars={{ bannerColor, bannerImage }}>
  .sidebar,
  .sidebar::after,
  .sidebar::before {
    width: 12rem;
  }

  .sidebar {
    height: 100%;
    /* TODO: Enable once Safari flickering is solved */
    /* filter: drop-shadow(0.25rem 0 0.25rem var(--c-shadow)); */
  }
  .sidebar,
  .sidebar > * {
    z-index: 11;
  }

  .sidebar::after,
  .sidebar::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .sidebar::before {
    background-image: var(--bannerImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale();
    z-index: 9;
    /* transition: background-image var(--anim-slow) ease; */
  }

  .sidebar::after {
    background-color: var(--bannerColor);
    transition: all var(--anim-slow) ease;
    z-index: 10;
  }
</style>
